@model WebApi.Models.Dto.WebLoginDto;
@{
    Layout = "/Views/Shared/_AuthenticationLayout.cshtml";
    ViewData["Title"] = "Login";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<div class="w-full min-h-screen flex justify-center items-center p-5">
    <div class="w-[400px] max-w-full flex flex-col gap-4 p-6 shadow rounded-lg">
        <div class="flex gap-2 items-center">
            <span class="iconify" data-icon="ic:baseline-security" data-width="25" data-height="25"></span>
            <h3 class="font-semibold text-2xl">Login administrador</h3>
        </div>

        <form method="post" asp-controller="WebAuthentication" asp-action="Login">
            <div class="flex flex-col gap-4">
                @if (ViewData.ModelState.ErrorCount > 0)
                {
                    <div class="bg-red-300 p-4 rounded-lg flex flex-col gap-2 text-red-500">
                        <h3 class="text-lg text-sm font-semibold">O formulário possui erros:</h3>
                        <span class="text-xs">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </span>
                    </div>
                }

                <div class="grid gap-2">
                    <label class="text-sm font-semibold" for="email">Email</label>
                    <input class="h-[40px] px-4 rounded border border-slate-500 w-full" required type="email" id="email"
                        placeholder="Digite seu email" name="email" value="@Model?.email" />
                </div>

                <div class="grid gap-2">
                    <label class="text-sm font-semibold" for="password">Senha</label>
                    <input class="h-[40px] px-4 rounded border border-slate-500 w-full" required type="password"
                        id="password" placeholder="Digite sua senha" name="password" />
                </div>

                <button class="h-[40px] rounded bg-emerald-600 text-white cursor-pointer font-bold"
                    type="submit">ENTRAR</button>
            </div>


        </form>
    </div>
</div>
