@{
    ViewData["Title"] = "Dashboard";
}

<div class="p-[20px]">
    <div class="bg-white shadow rounded-lg p-5">

        <h3 class="text-xl font-semibold mb-4">Bem-vindo ao Dashboard</h3>
        <p class="text-gray-600">Este é um exemplo de conteúdo dentro do layout de dashboard.</p>
    </div>
</div>
